#menuSuperior {

    background-color: #00001f;

}

.itemsMenu {

    display: block;
    background-color: #1CB5E0;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    min-width: 200px;
    text-align: center;

}

body {

    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main {

    padding: 50px 100px 50px 100px;

}

label {

    color: white;

}

.noticia {

    color: white;

    background-color: #000046;
    border-radius: 20px;
    box-shadow: 5px 5px 2px 2px rgb(77, 0, 77);

    padding: 20px;
    margin-bottom: 40px;

}

.imagen {

    width: 100%;

}

#enlace {

    color: #1CB5E0;

}